@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --dark-grey: #1c1c1c;
  --mid-grey: #2a2828;
  --white: #f5F5F5;
  --peach: #f6ad80;
  --dusty: #d46e6c;
  --dark-blue: #09527f;
  --teal-blue: #2b9193;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: var(--mid-grey);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--dusty);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: linear-gradient(30deg, rgba(212, 110, 108, 1) 0%, rgba(246, 173, 128, 1) 100%);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;

}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(30deg, rgba(212, 110, 108, 1) 0%, rgba(246, 173, 128, 1) 100%);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: white;
  opacity: .7;
  text-decoration: line-through;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}